.container{
    background-color: rgb(138, 138, 255);
}
.navbar{
    width: 75%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #8888;
}
.navlinks{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 20%;
}
.navLink{
    text-decoration: none;
    color: white;
    transition: all 0.5s;
} 
.navLink:hover{
    color: black;
}

.cartIcon{
    cursor: pointer;
    padding: 15px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    color: black;
}

.totalProducts{
    position: absolute;
    bottom: -10px ; 
    right: 0px;
    display: block ;
    color: white;
    width: 20px;
    height: 20px;
    font-size: 10px;
    line-height: 20px;
    background-color: red;
    border-radius: 50%;  
}
.cartIcon:hover{
    background-color:black ;
    color: white;
    border: 1px solid black;
}

.navItem a.active{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

 /* Extra small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) { 
    .navlinks{
        width: 50%;
    }
  }
  
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767.98px) { 
    .navlinks{
        width: 50%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    .navlinks{
        width: 50%;
    }
}