.container{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    border-top: 1px solid #8888;
    border-bottom: 1px solid #8888;
    position: relative;
}
.imageInCartContainer{
    padding: 10px;
    height: 100px;
    width: 20%;
}
img{
    width: 100%;
    height: 100%;
}
.cartInformation{
    border-left: 1px solid #8888;
    width: 80%;
    text-align: center;
}
.cartInformation h5{
    margin: 10px;
    text-align: left;
}
.cartInformation p {
    text-align: center;
}
.closeBtn{
    position: absolute;
    top: 2px;
    right: 2px;
    width: 15px;
    height: 15px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    background-color: red;
    color: white;
}