.myCart{
    position: fixed;
    overflow-y: scroll;
    top: 0;
    right: 0;
    width: 30%;
    border: 1px solid #8888;
    height: 100vh;
    background-color: white;

}
.myCart h3{
    text-align: center;
}
.totalPrice{
    padding: 10px;
    text-align: center;
}
.closeBtn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    background-color: white;
    color: black;
}
.checkoutBtn{
    padding: 10px 20px ;
    background-color:rgb(69, 69, 248);
    border: none;
    border-radius: 4px;
    margin: 5px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

 /* Extra small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) { 
    .myCart{
        width: 100%;
    }
  }
  
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767.98px) { 
.myCart{
    width: 100%;
}
}
  
